<table>
   <thead>
      <tr>
         <th ng-repeat="day in weeks[0]" class="day-of-week" ng-class="{ 'hidden-xs': day.weekend }">{{day.date.format('dddd')}}</th>
      </tr>
   </thead>
</table>
<div>
   <table ng-class="{ active: active,
                      'push-4': pushedRows === 4,
                      'push-5': pushedRows === 5,
                      'unshift-4': unshiftedRows === 4,
                      'unshift-5': unshiftedRows === 5 }">
      <tbody>
         <tr ng-repeat="week in weeks">
            <td ng-repeat="day in week"
                ng-class="{ today: day.isToday,
                            selected: day.isSelected,
                            past: day.isPast,
                            future: day.isFuture,
                            weekend: day.weekend,
                            'not-in-month': !day.isInMonth,
                            'hidden-xs': day.weekend }">
               <a ng-href="{{day.url}}" tabindex="0">
                  <div class="day">{{day.date.format('D')}}</div>
                  <ul>
                     <li ng-if="day.commits">{{day.commits.length}} commits</li>
                     <li ng-if="day.releases">{{day.releases.length}} releases</li>
                     <li ng-if="day.issues_opened">{{day.issues_opened.length}} issues opened</li>
                     <li ng-if="day.issues_closed">{{day.issues_closed.length}} issues closed</li>
                  </ul>
               </a>
            </td>
         </tr>
      </tbody>
   </table>
</div>
