[submodule "includes/themes/cube.theme"]
	path = includes/themes/cube.theme
	url = https://github.com/LaxarJS/cube.theme.git
[submodule "includes/widgets/laxarjs/ax-headline-widget"]
	path = includes/widgets/laxarjs/ax-headline-widget
	url = https://github.com/LaxarJS/ax-headline-widget.git
[submodule "includes/widgets/laxarjs/ax-command-bar-widget"]
	path = includes/widgets/laxarjs/ax-command-bar-widget
	url = https://github.com/LaxarJS/ax-command-bar-widget.git
[submodule "includes/widgets/laxarjs/ax-messages-widget"]
	path = includes/widgets/laxarjs/ax-messages-widget
	url = https://github.com/LaxarJS/ax-messages-widget.git
[submodule "includes/widgets/laxarjs/ax-developer-tools-widget"]
	path = includes/widgets/laxarjs/ax-developer-tools-widget
	url = https://github.com/LaxarJS/ax-developer-tools-widget.git
