<div class="container">
   <header class="app-header">
      <div class="row">
         <div class="col col-lg-8 col-md-8 col-sm-9 col-xs-10">
            <a href="http://laxarjs.org/" class="app-logo" title="Go back to LaxarJS.org"></a>
         </div>
         <div class="col col-lg-3 col-md-3 hidden-sm hidden-xs" data-ax-widget-area="header"></div>
         <div class="col col-lg-1 col-md-1 col-sm-3 col-xs-2" data-ax-widget-area="login"></div>
      </div>
   </header>

   <div class="app-content-wrapper">
      <div class="app-navigation">
         <ul class="inline">
            <li><a href="#/grid">Grid</a></li>
            <li><a href="#/calendar">Calendar</a></li>
            <li><a href="#/calendar">Timeline</a></li>
         </ul>
      </div>
      <div class="app-content">
         <div class="row">
            <div class="col col-lg-6 col-md-6" data-ax-widget-area="headline"></div>
            <div class="col col-lg-6 col-md-6" data-ax-widget-area="searchBox"></div>
         </div>
         <div class="row" data-ax-widget-area="content1a"></div>
         <div class="row" data-ax-widget-area="content1b"></div>
      </div>
      <footer class="app-footer row">
         <div class="col col-lg-12 col-md-12">
            <span class="app-laxarjs"><a href="http://laxarjs.org/" title="Go back to LaxarJS.org"><b>LaxarJS</b></a></span>, code licensed under the <a href="http://laxarjs.org/license" title="Show the MIT license"><b>MIT License</b></a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Show the creative commons"><b>CC BY 3.0</b></a>.<span class="app-github"><i class="fa fa-github"></i> View on <a href="https://github.com/LaxarJS/release-station" title="Show the source code"><b>GitHub</b></a></span><span class="app-version">ReleaseStation <sup>0.1.0-pre</sup></span>
         </div>
      </footer>
   </div>
</div>
