<div ng-class="{ authenticated: authenticated, open: dropdown.open}"
     ng-click="authenticated || authenticate()"
     class="circular icon dropdown">
   <a ng-if="authenticated" ng-click="dropdown.toggle()" href="">
      <img ng-src="{{resources.user.avatar_url}}" title="{{resources.user.name}}" class="circular icon"/>
      <span class="caption">{{resources.user.name}}</span>
   </a>
   <ul class="dropdown-menu dropdown-menu-right">
      <li class="dropdown-header" ng-bind-html="features.user.i18nHtmlLabel | axLocalize:i18n"></li>
      <li><a href="{{resources.user.html_url}}" title="{{resources.user.name}}">{{resources.user.login}}</a></li>
      <li class="divider" role="separator"></li>
      <li ng-repeat="item in dropdown.menu">
         <a ng-href="{{item.target}}"
            ng-click="dropdown.click( item )">
            <i class="fa" ng-class="[ item.icon ]" ng-if="item.icon"></i><!--
         --><span ng-bind-html="item.i18nHtmlLabel | axLocalize:i18n"></span>
         </a>
      </li>
   </ul>
</div>
