<ul class="nav nav-tabs" role="tablist">

   <li ng-repeat="tab in features.tabs track by $index"
       ng-if="( resources.details | tab:tab ).length"
       ng-class="{ active: model.selected === $index }"
       role="presentation">
      <a ng-click="model.select($index)" href="#" role="tab">
         {{tab.i18nHtmlTitle | axLocalize:i18n}}
      </a>
   </li>

</ul>

<div class="tab-content">

   <div class="tab-pane active"
        role="tabpanel">
      <table class="table">
         <thead>
            <tr>
               <th ng-repeat="column in model.tab.columns track by $index">{{column.i18nHtmlTitle | axLocalize:i18n}}</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="event in resources.details | tab:model.tab track by event.id">
               <td ng-repeat="column in model.tab.columns track by $index">{{event | pointer:column.field}}</td>
            </tr>
         </tbody>
      </table>
   </div>

</div>

