
<ul class="nav nav-tabs" role="tablist">
   <li ng-repeat="tab in tabs"
       ng-if="tab.enabled"
       ng-class="{ active: selected == tab.name }"
       role="presentation">
      <a ng-click="selectTab(tab.name)" href="" role="tab">
         {{tab.title}}
      </a>
   </li>
</ul>

<div class="tab-content">

   <div class="tab-pane" role="tabpanel"
        ng-class="{ active: selected == 'commits' }">
      <table class="table">
         <tr ng-repeat="commit in resources.details.commits">
            <td><a ng-href="{{commit.repo.url}}">{{commit.repo.name}}</td>
            <td><a ng-href="{{commit.payload.url}}">{{commit.payload.sha.substring(0, 6)}}</a></td>
            <td>{{commit.payload.message}}</td>
         </tr>
      </table>
   </div>

   <div class="tab-pane" role="tabpanel"
        ng-class="{ active: selected == 'tags' }">
      <table class="table">
         <tr ng-repeat="tag in resources.details.tags">
            <td><a ng-href="{{tag.repo.url}}">{{tag.repo.name}}</td>
            <td>{{tag.payload.ref}}</td>
         </tr>
      </table>
   </div>

</div>

