<table>
   <thead>
      <tr>
         <th ng-repeat="day in weeks[0]" class="day-of-week" ng-class="{ 'hidden-xs': day.weekend }">
            <span class="hidden-sm hidden-xs">{{day.date.format('dddd')}}</span>
            <span class="hidden-lg hidden-md">{{day.date.format('ddd')}}</span>
         </th>
      </tr>
   </thead>
</table>
<div>
   <table ng-class="{ active: active,
                      'push-4': pushedRows === 4,
                      'push-5': pushedRows === 5,
                      'unshift-4': unshiftedRows === 4,
                      'unshift-5': unshiftedRows === 5 }">
      <tbody>
         <tr ng-repeat="week in weeks">
            <td ng-repeat="day in week"
                ng-class="{ today: day.isToday,
                            selected: day.isSelected,
                            past: day.isPast,
                            future: day.isFuture,
                            weekend: day.weekend,
                            'not-in-month': !day.isInMonth,
                            'hidden-xs': day.weekend }">
               <a ng-href="{{day.url}}" class="day" tabindex="0" ng-click="details(day.date)">
                  <h3>{{day.date.format('D')}}</h3>
                  <ul>
                     <li ng-if="day.releases">{{day.releases.length}} releases</li>
                     <li ng-if="day.tags">{{day.tags.length}} tags</li>
                     <li ng-if="day.commits">{{day.commits.length}} commits</li>
                     <!--
                     <li ng-if="day.issues_opened">{{day.issues_opened.length}} issues opened</li>
                     <li ng-if="day.issues_closed">{{day.issues_closed.length}} issues closed</li>
                     -->
                  </ul>
               </a>
            </td>
         </tr>
      </tbody>
   </table>
</div>
