/**
 * Override demo stuff
 */
body {
   background: none;
}
body::before {
   border: none;
   display: none;
}

.app-content {
   width: 100%;
   border: none;
   border-radius: 0;
   box-shadow: none;
}

.app-content > div {
   padding: 0 20px;
   margin: 0 -20px;
}

.modal-content > button.close {
   font-size: 24pt;
}

.modal-backdrop {
   background-color: #fff;
}
.modal-backdrop.in {
   opacity: 0.7;
}

/**
 * Content
 */

/* To override the colors scal globally, use:
.app-content .ax-color-scale li.ax-color-stop-0 { background-color: #c4c3c0; }
.app-content .ax-color-scale li.ax-color-stop-1 { background-color: #5890a0; }
.app-content .ax-color-scale li.ax-color-stop-2 { background-color: #a0e070; }
.app-content .ax-color-scale li.ax-color-stop-3 { background-color: #d0e070; }
.app-content .ax-color-scale li.ax-color-stop-4 { background-color: #f0b050; }
*/

h1 {
   margin-top: 0.3em;
   margin-bottom: 0.2em;
   font-size: 24pt;
}

h2 {
   font-size: 20pt;
}


.app-content h2 {
   margin-top: 0.4ex;
}

.app-github {
   padding-left: 26px;
   padding-right: 26px;
}

.ax-popup {
   margin-top: -20px;
   margin-bottom: -20px;
   height: auto !important;
}

.modal-header {
   background-color: #626262;
   border: 1px solid #444;
   border-radius: 6px 6px 0 0;
   margin: -1px -2px -4px -2px;
   padding: 2px 7px 14px 7px;
}

.modal-header h3 {
   color: #fff;
   font-weight: 300;
}

@media (max-width: 640px) {

   .ax-popup > div > div.modal-dialog {
      padding: 0;
      margin: 0;
   }

   .ax-popup .modal-content {
      border-radius: 0;
      border-left: none;
      border-right: none;
   }

}

@media (max-width: 460px) {

   body > div > div.container {
      -webkit-transform-origin: top;
              transform-origin: top;
      -webkit-transition: 0.3s ease-in -webkit-transform, 0.3s ease-in -webkit-filter, 0.3s ease-in filter;
              transition: 0.3s ease-in transform, 0.3s ease-in filter;

      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
   }

   .modal {
      padding-top: 184px;
   }

   .ax-popup {
      opacity: 0;
      -webkit-transition: 0.35s ease-out -webkit-transform, 0.3s ease-in opacity;
              transition: 0.35s ease-out transform, 0.3s ease-in opacity;
      -webkit-transform: translate(0, 220px);
              transform: translate(0, 220px);
      -webkit-transform: translate3d(0, 220px, 0);
              transform: translate3d(0, 220px, 0);
   }

   .ax-popup.ax-showing {
      opacity: 1;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
   }

   .ax-popup div.tab-content {
      max-height: none;
      min-height: 200px;
   }

}
