<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
     ng-repeat="project in projects | orderBy: 'gauge': true">
   <div class="col-md-12">
      <h3>
         <a ng-href="{{project.repository_url}}"><span>{{project.owner.login}}/</span>{{project.name}}</a>
         <a ng-if="project.html_url"
            ng-href="{{project.html_url}}"
            class="github"
            title="{{project.full_name}} on GitHub"><i class="fa fa-github"></i></a>
      </h3>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-12">
      <ol ax-gauge="project.gauge"
          ax-gauge-fill="scale(project.gauge).hex()"
          ax-gauge-glow="scale(project.gauge).brighten().hex()"
          ax-gauge-interval="features.gauge.interval">
         <li ax-gauge-pane
             ng-repeat="stat in stats">
            <span style="font-size: 2em">{{project.events[ stat.value ].length || 0}}</span><br/>
            <span>{{stat.text.join(' ')}}</span>
         </li>
      </ol>
   </div>
   <div class="col-md-3 col-sm-3 col-xs-6 details">
      <h4>Issues</h4>
      <dl class="dl-horizontal">
         <dt>Opened</dt>
         <dd>{{project.events.issues_opened.length || 0}}</dd>
         <dt>Closed</dt>
         <dd>{{project.events.issues_closed.length || 0}}</dd>
      </dl>
      <dl class="dl-horizontal">
         <dt>Commits</dt>
         <dd>{{project.events.commits.length || 0 }}</dd>
      </dl>
   </div>
   <div class="col-md-3 col-sm-3 col-xs-6 details">
      <h4>Releases</h4>
      <dl class="dl-horizontal">
         <dt>Major</dt>
         <dd>{{project.events.major.length || 0}}</dd>
         <dt>Minor</dt>
         <dd>{{project.events.minor.length || 0}}</dd>
         <dt>Patch</dt>
         <dd>{{project.events.patch.length || 0}}</dd>
      </dl>
   </div>
</div>
