<div ax-color-scale="scale"></div>

<!-- uncomment to have a look at the color scale -->
<!--
<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
   <div class="col-md-3"
        style="background-color: gray; height: 39px"
        ng-style="{ 'background-color': scale(num/15).hex() }"
        ng-repeat="num in [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15 ]">{{(num / 15).toFixed(3)}}:<br>{{scale(num/15).hex()}}</div>
</div>
-->

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
     ng-repeat="project in projects | orderBy: 'activity': true as ordered"
     ng-if="project.activity > 0 || $index < 9 || ordered[ $index - 9 ].activity > 0"
     ng-class="{ 'inactive': project.activity <= 0 }">
   <div class="col-md-12">
      <h3>
         <a ng-href="{{project.repo.repository_url}}"><span>{{project.repo.owner.login}}/</span>{{project.repo.name}}</a>
         <a ng-href="{{project.repo.html_url}}"
            class="github"
            title="{{project.repo.full_name}} on GitHub"><i class="fa fa-github"></i></a>
      </h3>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-6">
      <ol ax-gauge="project.activity"
          ax-gauge-interval="features.gauge.interval"
          ax-gauge-fill="scale(project.activity).hex()">
         <!--
          ax-gauge-fill="scale(project.gauge).darken(0.1)"
          ax-gauge-glow="scale(project.gauge).brighten(0.1)"
          -->
         <li ax-gauge-pane
             ng-repeat="stat in stats">
            <span style="font-size: 2em">{{project[ stat.value ].length || 0}}</span><br/>
            <span>{{stat.text.join(' ')}}</span>
         </li>
      </ol>
   </div>
   <div class="col-md-3 col-sm-3 col-xs-3 details">
      <h4>Issues</h4>
      <dl class="dl-horizontal">
         <dt>Opened</dt>
         <dd>{{project.issues_opened.length || 0}}</dd>
         <dt>Closed</dt>
         <dd>{{project.issues_closed.length || 0}}</dd>
      </dl>
      <dl class="dl-horizontal">
         <dt>Commits</dt>
         <dd>{{project.commits.length || 0 }}</dd>
      </dl>
   </div>
   <div class="col-md-3 col-sm-3 col-xs-3 details">
      <h4>Releases</h4>
      <dl class="dl-horizontal">
         <dt>Major</dt>
         <dd>{{project.major.length || 0}}</dd>
         <dt>Minor</dt>
         <dd>{{project.minor.length || 0}}</dd>
         <dt>Patch</dt>
         <dd>{{project.patch.length || 0}}</dd>
      </dl>
   </div>
</div>
