<div>
   <ul ng-repeat="(major, track) in versions" class="semver-list inline">
      <li ng-repeat="version in track"
          ng-click="log( version )"
          ng-if="!version.semver.prerelease.length && !version.semver.build.length"
          ng-class="{
             major: version.semver.minor == 0 && version.semver.patch == 0,
             minor: version.semver.minor != 0 && version.semver.patch == 0,
             patch: version.semver.patch != 0,
             selected: version.isSelected
          }">
          <a ng-href="{{version.url}}" class="version" tabindex="0">
             <h3>{{version.name}}</h3>
          </a>
      </li>
   </ul>
</div>
