<ul class="nav nav-tabs" role="tablist">
   <li data-ng-repeat="user in [ resources.user ].concat( resources.orgs )"
       data-ng-class="{ active: ( user.login === model.login ) }"
       role="presentation">
      <a href="#" role="tab" data-ng-click="select( user.login )">
         <img data-ng-src="{{user.avatar_url}}" alt="{{org.login}}"/>
         {{user.login}}
      </a>
   </li>
</ul>

<div class="tab-content">
   <div role="tabpanel" class="tab-pane active">

      <div class="text-center">
         <div class="btn-group" role="group">
            <button type="button" class="btn btn-default navbar-btn"
                    data-ng-click="setAllEnabled( false )">none</button>
            <button type="button" class="btn btn-default navbar-btn"
                    data-ng-click="setAllEnabled( true )">all</button>
         </div>
         <div ax-pager="pager"></div>
      </div>

      <ul class="list-group">
         <li class="list-group-item"
             data-ng-repeat="repo in resources.repos | orderBy:'pushed_at':true
                                                     | filter:{ owner: { login: model.login } }
                                                     | filter:pager">
            <input ax-toggle type="toggle"
                   ng-model="model.settings.repos[ repo.id ]"
                   ng-change="repositoryChanged( repo )"></input>
            <i class="fa" ng-class="{ 'fa-code-fork': repo.fork, 'fa-code': !repo.fork }"></i>
            <a ng-href="{{repo.html_url}}">
               {{repo.name}}
            </a>
         </li>
      </ul>

   </div>
</div>
